<div>ben's tik-tac-toe game</div>

<div style="border: 1px solid black;
font-size: 64px;">
  <div class="row" style="border-bottom: 1px solid black">
    <div class="cell" (click)="boardclick()">{{game?.board1}}</div>
    <div class="cell" (click)="board(2)" style="border-right: 1px solid black; border-left: 1px solid black;">{{game?.board[2]}}</div><div class="cell">3</div>
  </div>
  <div class="row" style="border-bottom: 1px solid black">
    <div class="cell">4</div><div class="cell" style="border-right: 1px solid black; border-left: 1px solid black;">5</div><div class="cell">6</div>
  </div>
  <div class="row" >
    <div class="cell">7</div><div class="cell" style="border-right: 1px solid black; border-left: 1px solid black;">8</div><div class="cell">9</div>
  </div>
</div>

<router-outlet></router-outlet>